/* ---------- root variables ---------- */
:root {
  --green: rgb(38, 76, 89);
  --green-opacity: rgba(38, 76, 89, 0.2);
  --light-green: rgb(172, 198, 201);
  --light-grey: #f1f1f4;
  --text-color-light: #f1f1f1;
  --text-color-dark: #333;
  --white: #fff;
  --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ---------- general styling ---------- */
html,
body {
  color: var(--text-color-dark);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: var(--light-grey);
}

h1 {
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 3px;
}

h2 {
  font-weight: 400;
  letter-spacing: 0.3px;
  margin: 0.2em 0;
}

h3 {
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0.5em 0 0.2em;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: var(--green);
}

/* ---------- grid styling ---------- */

.grid {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1em;
  gap: 1em;
}

@media (min-width: 600px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.grid > article {
  text-align: center;
  padding: 2em 1em;
  background-color: var(--light-green);
  transition: 0.3s;
}

.grid > article:hover {
  box-shadow: 0 8px 16px 0 var(--green);
}

.grid > article img {
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 50%;
}
