/* ---------- root variables ---------- */
:root {
  --green: rgb(38, 76, 89);
  --green-opacity: rgba(38, 76, 89, 0.2);
  --light-green: rgb(172, 198, 201);
  --light-grey: #f1f1f4;
  --text-color-light: #f1f1f1;
  --text-color-dark: #333;
  --white: #fff;
  --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ---------- general styling ---------- */
html,
body {
  color: var(--text-color-dark);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: var(--light-grey);
}

h1 {
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 3px;
}

h2 {
  font-weight: 400;
  letter-spacing: 0.3px;
  margin: 0.2em 0;
}

h3 {
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0.5em 0 0.2em;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: var(--green);
}

/* ---------- grid styling ---------- */

/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "left left left left left left"
    "middle middle middle middle middle middle"
    "right right right right right right"
    "footer footer footer footer footer footer";
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (min-width: 600px) {
  .grid-container {
    grid-template-areas:
      "header header header header header header"
      "left left middle middle right right"
      "footer footer footer footer footer footer";
  }
}

@media (min-width: 1200px) {
  .grid-container {
    grid-template-areas:
      "header header header header header header"
      "left middle middle middle middle right"
      "footer footer footer footer footer footer";
  }
}

/* Style the header */
header {
  grid-area: header;
  background-color: var(--green);
  color: var(--text-color-light);
  text-align: center;
  font-size: 2em;
  height: 30vh;
}

.left,
.middle,
.right {
  height: 55vh; /* Should be removed. Only for demonstration */
}

/* Style the left column */
.left {
  grid-area: left;
  background-color: var(--light-green);
}

/* Style the middle column */
.middle {
  grid-area: middle;
}

/* Style the right column */
.right {
  grid-area: right;
  background-color: var(--light-green);
}

/* Style the footer */
footer {
  grid-area: footer;
  text-align: center;
  background-color: var(--green);
  color: var(--text-color-light);
  height: 15vh;
}
